:global {
    body {
        background: url('../images/cardboard_flat.png');
        font-family: Roboto, sans-serif !important;
    }

        //font-family: Roboto, sans-serif !important;
    h1, h2, h3, h4, h5, h6 {
        font-family: Roboto, sans-serif;
    }

    .flag {
        width: 32px;
        height: 32px;
        margin-top: 9px;
        background:url('../images/flags.png') no-repeat
    }

    .flag.flag-fr {background-position: -32px 0}
    .flag.flag-en {background-position: 0 -32px}


}
