:global {
    body {
        background: url('../images/cardboard_flat.png');
        font-family: Roboto, sans-serif !important;
    }

        //font-family: Roboto, sans-serif !important;
    h1, h2, h3, h4, h5, h6 {
        font-family: Roboto, sans-serif;
    }
}
