.board {
    max-width    : 600px;
    min-width    : 350px;
    max-height   : 600px;
    min-height   : 350px;
    margin       : auto;
    padding      : 10px;
}

.container {
    padding        : 10px;
}
