.title {
    text-align: center;
}

.content {
    margin-left     : 20%;
    margin-right    : 20%;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
}

.description {
    margin-left: 2%;
    font-size: 18px;
    line-height: 200%
}
