.banner {
    margin-top: 5%;
    background-color: #DDDDDD;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.squareBracket {
    color : #f1471d;
}

.message {
    margin-top: 10%;
    text-align: center;
}
