.googleButton {
    display: inline-block;
    background: #d14836;
    color: #fff;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    text-align : center;
}

.title {
    text-align: center;
}

.centerize {
    text-align: center;
}
