.googleButton {
    display: inline-block;
    background: #d14836;
    color: #fff;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    text-align : center;
}

.centerize {
    padding-top: 4%;
    text-align: center;
    font-family: Roboto, serif;
}

.title {
    padding-top: 2%;
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 2%;
}

.squareBracket {
    color : #f1471d;
}
