<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="ho8Hdcitf7b35c4eJjEU8NodTONjIBRKxJAnFMkb1hA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <%= !dev ? '<link rel="stylesheet" href="/css/app.css?v='+ version + '">' : '' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://www.sfeir.com/content/themes/sfeir/img/ccn-admin/favicons/favicon.ico" type="image/x-icon">
    <script src="https://use.fonticons.com/a0c41e25.js"></script>
</head>
<body>
    <!-- <%= name %> v<%= version %> -->
    <div id="app-container"></div>
    <script src="/js/polyfills.js?v=<%= version %>"></script>
    <script src="/js/app.js?v=<%= version %>"></script>
</body>
</html>
